.App {
  background-color: #00386b;
  text-align: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fefbf7;
}

.User-Card{
  border: 3px solid #c1c1c1;
  background: #f8e8c8;
  padding: 10px;
  max-width: 20vw;
}

.User-Card>img {
  border: 2px solid #00386b;
}